<div id="<%= dom_id temperature_sensor %>">
  <% if action_name != "show" %>
    <%= link_to "Show this temperature sensor", temperature_sensor, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this temperature sensor", edit_temperature_sensor_path(temperature_sensor), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
