<div id="<%= dom_id mcu %>">
  <% if action_name != "show" %>
    <%= link_to "Show this mcu", mcu, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this mcu", edit_mcu_path(mcu), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
