<div class="card bg-base-200 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Actions</h2>
    <div class="grid grid-cols-3 gap-3">
      <%= link_to "Edit printer", edit_printer_path(@printer), class: "btn btn-info rounded-lg font-medium" %>
      <%= link_to "Destroy printer", printer_path(@printer), method: :delete, class: "btn btn-error rounded-lg font-medium" %>
      <%= link_to "Back to printers", printers_path, class: "btn btn-warning rounded-lg font-medium" %>
      <%= link_to "Setup rotation distance", printer_rotation_distance_setup_index_path(printer_id: @printer), class: "btn btn-info rounded-lg font-medium" %>
    </div>
  </div>
</div>