<div class="card bg-base-200 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Extruder</h2>
    <p class="my-3">
      <strong class="block font-medium mb-1">Name:</strong>
      <%= extruder.name %>
    </p>
  </div>
</div>