<div class="card bg-base-200 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Basic info</h2>
    <p class="my-3">
      <strong class="block font-medium mb-1">Name:</strong>
      <%= printer.name %>
    </p>

    <p class="my-3">
      <strong class="block font-medium mb-1">Print size x:</strong>
      <%= printer.print_size_x %>
    </p>

    <p class="my-3">
      <strong class="block font-medium mb-1">Print size y:</strong>
      <%= printer.print_size_y %>
    </p>

    <p class="my-3">
      <strong class="block font-medium mb-1">Print size z:</strong>
      <%= printer.print_size_z %>
    </p>
  </div>
</div>