<div id="<%= dom_id axis %>">
  <% if action_name != "show" %>
    <%= link_to "Show this axis", axis, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this axis", edit_axis_path(axis), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
