<div id="<%= dom_id printer %>" class="grid grid-cols-3 gap-4 w-full">
  <%= render partial: 'printers/cards/printer_card', locals: { printer: printer } %>

  <%# render partial: 'printers/cards/extruder_card', locals: { extruder: printer.extruder } %>

  <%= render partial: 'printers/cards/action_card' %>

  <%= render partial: 'printers/cards/config_card', locals: { printer: printer } %>
</div>


